* {
    padding: 0px;
    margin: auto;
}

.wrapper {
    height: 1000px;
    width: 1000px;
    background-color: aliceblue;
}

header {
    height: 50px;
    width: 1000px;
    background-color: rgb(0, 118, 221);
}

.content {
    height: 600px;
    width: 1000px;
    background-color: rgb(4, 1, 17);
}

nav {
    height: 600px;
    width: 20%;
    background-color: rgb(240, 236, 1);
    float: left;
}

section {
    height: 600px;
    width: 85%;
    background-color: rgb(235, 5, 5);
    padding-top: 38px;
    padding-left: 150px;
}

article {
    height: 480px;
    width: 70%;
    background-color: rgb(206, 175, 216);
}

footer {
    height: 50px;
    width: 1000px;
    background-color: rgb(2, 155, 2);
}